body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "VT323", monospace;
}

body {
    background-color: #182703 ;
    background: url(snake-bg.png)center center / cover;
}
.snake {
    background-image: linear-gradient(to right, rgb(0, 247, 255), rgb(244, 194, 11));
    background: url(snake-scale4.jpeg) center center;
}

#game-board{
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.game-border-1 {
    border: #40660a solid 10px ;
    border-radius: 30px;
    /* added to remove gap between boarder and game */
    box-shadow: inset 0 0 0 10px #40660a;
}
.game-border-2 {
    border: #bfe690 solid 8px ;
    border-radius: 26px;
    /* added to remove gap between boarder and game */
    box-shadow: inset 0 0 0 10px #bfe690;
}

.game-border-3 {
    border: #46661a solid 30px ;
    border-radius: 20px;
    /* added to remove gap between boarder and game */
    box-shadow: inset 0 0 0 5px #73aa25;
}

#instruction-text { 
    position: absolute;
    top: 66%;
    color: #273e06;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: space-between;
}
#score {
    color: #dceb10;
}

#score, #highScore{
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

#highScore {
    color: #37ff00;
    display: none;
}


.game-border-3{
    background-color: #eda32d;
    background-image: linear-gradient(to bottom, rgb(250, 162, 10), rgb(9, 74, 216), rgb(1, 86, 1) );
}


.snake{
    border: #182703 1px;
    background-image: url(snake-scale4.jpeg);
}

.food{
    background-image: url(snake-logo.png);
    border: #999 4px solid;
}
.food2{
    background-color: #c23333;
    border: #f3d933 4px solid;
}

#logo  {
    position: absolute;
}